@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url('../fonts/Rubik-Regular.ttf') format('truetype');
}

body {
  justify-content: center;
  font: 'Rubik';
}

.form-registration {
  height: 100vh;
  width: 50%;
}

.form-registration-item {
  width: 100%;
  justify-content: center;
  padding: 16px 12px 0 12px;
  height: 56px;
  max-width: 240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form-registration-item__input {
  font-size: 16px;
  font-weight: 400px;
  border-style: solid;
  border-radius: 5%;
  border-color: rgb(199, 199, 199);
  margin-right: 40px;
  margin-bottom: 5px;
}

.form-registration-item__input:focus {
  outline: 0;
}

.form-registration-item__error {
  color: #ef0f18ff;
}

.form-registration-item__button {
  font: 'Rubik';
  color: #434346;
  background: rgb(153, 149, 149);
  padding: 15px 40px;
  border-radius: 50px;
  border-color: rgb(100, 95, 95);
  border-width: -2px;
  width: 200px;
}

.form-registration-item__button:hover {
  background-color: rgb(182, 42, 42);
}

.form-registration-item__button:focus {
  outline: 0;
}

.invalid-input {
  box-shadow: inset 0 -1px 0 red;
}
